---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<!DOCTYPE html>
<html lang="en">
<body class="bg-[#131415]">
	<Head />
	<Header />
	<Hero />
</body>
</html>