---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OnSale from "../components/OnSale.astro";
import Categories from "../components/Categories.astro";
import Popular from "../components/Popular.astro";
---

<!DOCTYPE html>
<html lang="en">
<Head />
<body class="bg-[#131415]">
	<Header />
	<Hero />
	<OnSale />
	<Categories />
	<Popular />
</body>
</html>