---
const {
    image = "-",
    title = "-"
} = Astro.props
---

<div class="w-32 h-40 flex flex-col bg-[#2B2B2C] px-2 py-2 rounded-2xl justify-center items-center">
    <div class="">
        <img src={ image } alt="" class="h-20">
    </div>
    <p class="h-20 text-white mt-4">{ title }</p>
    <div class="w-9 h-3 rounded-2xl bg-gradient-to-r from-[#FFA400] to-[#FC2933] mt-1"></div>
</div>