---

---
<section class="flex flex-col justify-center w-full px-28 mt-28">
    <div class="flex items-center justify-center gap-12">
        <a href="#" class="text-white font-medium text-lg border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]">Términos de uso</a>
        <a href="#" class="text-white font-medium text-lg border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]">Trabajá con Nosotros</a>
        <a href="#" class="text-white font-medium text-lg border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]">Soporte</a>
    </div>
    <div class="flex items-center justify-center mt-28">
        <h2 class="text-white font-medium text-lg mb-16">Hecho con 🍕 en <strong class="font-black">NUCBAZZAPI</strong></h2>
    </div>
</section>