---
import logo from '/nucbazappiicon 1.webp'
import Nav from './Nav.astro';
---

<header class="flex px-14 py-8 items-center justify-between">
    <div class="">
        <img src={ logo } alt="Nucbazzapi logo" class="h-16">
    </div>
    <Nav />
</header>