---
import pizzaHeader from '/Group 825.png'
---

<section class="flex items-center justify-center w-full px-28 mb-28">
    <div class="flex flex-col items-start justify-center gap-6">
        <h1 class="text-white font-black text-6xl w-4/6">Si tenes Zappi, tenes Nucba.</h1>
        <p class="text-white text-lg">Busca lo que quieras y nucba te quedes sin comida.</p>
        <a href="" class="bg-gradient-to-r from-[#FFA400] to-[#FC2933] px-8 py-3 rounded-xl text-white uppercase font-bold hover:bg-gradient-to-r hover:from-[#FC2933] hover:to-[#FC2933]">Ver mas</a>
    </div>
    <div class="">
        <img src={ pizzaHeader } alt="imagen de dos pizzas" class="">
    </div>
</section>