---

---

<nav class="flex items-center justify-center">
    <ul class="flex items-center justify-center gap-14 ">
        <li class="border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]"><a href="" class="text-white"><i class="fa-solid fa-house text-[#FFA400] pr-3 text-xs"></i>Home</a></li>
        <li class="border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]"><a href="" class=""><i class="fa-solid fa-cart-shopping text-[#89530B] text-xs"></i></a></li>
        <li class="border-transparent hover:transition-all hover:duration-200 hover:border-b-2 hover:border-[#FC2933]"><a href="" class=""><i class="fa-solid fa-user text-[#89530B] text-xs"></i></a></li>
    </ul>
</nav>