---
const {
    name = "-",
    desc = "-",
    image = "-",
    price = "$",
    hotsale = false
} = Astro.props
---
<style>
    h4 {
        background: ;
        -webkit-text-fill-color: transparent;
    }
</style>
<div class="flex bg-[#2B2B2C] px-3 py-4 rounded-2xl gap-4 justify-center items-center">
    <img src={ image } alt="" class="h-16">
    <div class="flex flex-col">
        <h3 class="text-white font-medium">{ name }</h3>
        <p class="text-zinc-600">{ desc }</p>
        <h4 class="font-black bg-gradient-to-r from-[#FFA400] to-[#FC2933] bg-clip-text inline-block w-fit">{ price }</h4>
    </div>
    <a href="" class="bg-gradient-to-r from-[#FFA400] to-[#FC2933] h-8 px-6 text-white font-bold rounded-3xl hover:bg-gradient-to-r hover:from-[#FC2933] hover:to-[#FC2933]hover:transition hover:duration-300">Agregar</a>
</div>