---
import PopularCard from "./PopularCard.astro";
import pizzasJSON from './pizzas.json'
---

<section class="flex flex-col justify-center w-full px-28">
    <h2 class="text-white font-medium text-2xl my-8 ">Los mas populares</h2>
    <div class="flex w-full items-center justify-center flex-wrap gap-7">
        {
            pizzasJSON.filter((pizza) => pizza.principal).map((pizzas => <PopularCard {...pizzas} />))
        }
    </div>
</section>