---
const {
    name = "-",
    desc = "-",
    image = "-",
    price = "$",
    principal = false
} = Astro.props
---
<style>
    h4 {
        background: ;
        -webkit-text-fill-color: transparent;
    }
</style>
<div class="flex flex-col items-start justify-center bg-[#2B2B2C] px-6 py-4 rounded-2xl">
    <img src={ image } alt="" class="w-52 mb-1">
    <h3 class="text-white font-bold">{ name }</h3>
    <p class="text-zinc-600">{ desc }</p>
    <div class="flex items-center justify-between w-full mt-1">
        <h4 class="font-black bg-gradient-to-r from-[#FFA400] to-[#FC2933] bg-clip-text inline-block w-fit">{ price }</h4>
        <a href="" class="bg-gradient-to-r from-[#FFA400] to-[#FC2933] h-6 px-4 text-white font-bold rounded-3xl hover:bg-gradient-to-r hover:from-[#FC2933] hover:to-[#FC2933]hover:transition hover:duration-300">Agregar</a>
    </div>
</div>